In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd

from hickathon_2023.data_preprocessing import get_data_preprocessor
from hickathon_2023.feature_extraction import FeatureExtractor
from hickathon_2023.model import get_model
from hickathon_2023.utils import Pipeline, load_data

SMALL_DATASET = True
Y_FEATURE = "energy_consumption_per_annum"

In [2]:
if SMALL_DATASET:
    path = "datasets/small/"
else:
    path = "datasets/"


def get_data():
    X_train, y_train = load_data(
        X_path=path + "train/train_features_sent.csv",
        y_path=path + "train/train_labels_sent.csv",
        y_feature=Y_FEATURE,
    )
    X_test, _ = load_data(X_path=path + "test/test_features_sent.csv")

    return X_train, y_train, X_test


X_train, y_train, X_test = get_data()

# 1. Feature extraction

In [3]:
X_train.head()

,level_0,additional_heat_generators,additional_water_heaters,altitude,area_code,balcony_depth,bearing_wall_material,building_category,building_class,building_height_ft,...,wall_insulation_type,water_heaters,water_heating_energy_source,water_heating_type,window_filling_type,window_frame_material,window_glazing_type,window_heat_retention_factor,window_orientation,window_thermal_conductivity
0,19594,[],NaN,177.165359,654,NaN,CONCRETE,[condo],[2 to 11],42.322838,...,internal,[electric storage tank],electricity,individual,argon or krypton,pvc,double glazing,1.116894,"[east or west,north]",16.057268
1,19099,[wood stove or insert],electric water heating,91.863518,354,NaN,AGGLOMERATE,[individual house],[individual],12.795276,...,internal,"[solar water heater,electric storage tank]",electricity,individual,argon or krypton,metal without thermal break,double glazing,1.289049,"[est,north,sud]",22.149689
2,-29928,[],NaN,823.490845,347,NaN,CONCRETE,[individual house],[individual],15.748032,...,internal,[low temperature gas boiler],gas,individual,NaN,wood,single glazing,1.212343,"[north,sud]",23.781612
3,3127,[],NaN,341.207367,815,NaN,INDETERMINED,"[condo,individual house]","[12+,2 to 11]",36.089241,...,internal,[electric storage tank],electricity,individual,dry air,pvc,double glazing,1.116894,"[est,sud]",15.347292
4,-22101,[],thermodynamic electric hot water (heat pump or...,869.422607,659,NaN,AGGLOMERATE,[individual house],[2 to 11],13.451444,...,internal,"[standard gas boiler,thermodynamic electric ho...",thermodynamic electric hot water (pac or tank)...,individual,argon or krypton,wood,double glazing,1.599851,"[est,west,sud]",13.290529

In [4]:
feature_extractor = FeatureExtractor()
X_train = feature_extractor.transform(X_train)
X_train.head()

,level_0,altitude,area_code,balcony_depth,building_height_ft,building_total_area_sqft,building_type,building_use_type_code,building_use_type_description,building_year,...,water_heating_network,water_heating_coal,window_orientation_north,window_orientation_east,window_orientation_south,window_orientation_west,lower_year_building,upper_year_building,living_to_building_area_ratio,wall_area_by_conductivity
0,19594,177.165359,654,0,42.322838,3562.850830,Flat,2,Residential multi-family,2002.0,...,False,False,True,True,False,True,1989.0,1999.0,0.090634,578250.014173
1,19099,91.863518,354,0,12.795276,1754.515747,House,1,Residential single-family,1985.0,...,False,False,True,True,True,False,1970.0,1988.0,0.674847,175745.645845
2,-29928,823.490845,347,0,15.748032,968.750977,House,1,Residential single-family,1970.0,...,False,False,True,False,True,False,1949.0,1970.0,1.044444,160726.925496
3,3127,341.207367,815,0,36.089241,NaN,Flat,2,Residential multi-family,1993.0,...,False,False,False,True,True,False,1989.0,1999.0,NaN,NaN
4,-22101,869.422607,659,0,13.451444,1162.501221,House,1,Residential single-family,1965.0,...,False,False,False,True,True,True,1949.0,1970.0,1.018519,228356.302939

# 2. Data preprocessing

In [5]:
data_preprocessor = get_data_preprocessor()
X_train = data_preprocessor.fit_transform(X_train)
X_train.shape

c:\Users\pasqu\AppData\Local\pypoetry\Cache\virtualenvs\hickathon-2023-_-bbnVz2-py3.8\lib\site-packages\sklearn\preprocessing\_function_transformer.py:334: UserWarning: With transform="pandas", `func` should return a DataFrame to follow the set_output API.
  warnings.warn(

(10107, 263)

In [6]:
X_train

,area_code_109,area_code_127,area_code_156,area_code_158,area_code_159,area_code_162,area_code_172,area_code_173,area_code_178,area_code_191,...,water_heating_coal,water_heating_electricity,water_heating_gas,water_heating_network,water_heating_oil,water_heating_wood,window_orientation_east,window_orientation_north,window_orientation_south,window_orientation_west
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,True,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,True,False
10103,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,False,True
10104,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,True
10105,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,True,False
10106,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,True,True,True

In [7]:
X_train.columns.tolist()

['area_code_109',
 'area_code_127',
 'area_code_156',
 'area_code_158',
 'area_code_159',
 'area_code_162',
 'area_code_172',
 'area_code_173',
 'area_code_178',
 'area_code_191',
 'area_code_204',
 'area_code_205',
 'area_code_213',
 'area_code_226',
 'area_code_228',
 'area_code_260',
 'area_code_264',
 'area_code_281',
 'area_code_299',
 'area_code_304',
 'area_code_345',
 'area_code_347',
 'area_code_351',
 'area_code_354',
 'area_code_356',
 'area_code_369',
 'area_code_374',
 'area_code_375',
 'area_code_377',
 'area_code_380',
 'area_code_382',
 'area_code_386',
 'area_code_387',
 'area_code_398',
 'area_code_400',
 'area_code_419',
 'area_code_451',
 'area_code_467',
 'area_code_471',
 'area_code_492',
 'area_code_498',
 'area_code_502',
 'area_code_518',
 'area_code_520',
 'area_code_542',
 'area_code_547',
 'area_code_559',
 'area_code_573',
 'area_code_585',
 'area_code_592',
 'area_code_597',
 'area_code_603',
 'area_code_615',
 'area_code_616',
 'area_code_637',
 'area_code_638',
 'area_code_643',
 'area_code_653',
 'area_code_654',
 'area_code_659',
 'area_code_660',
 'area_code_664',
 'area_code_671',
 'area_code_684',
 'area_code_689',
 'area_code_693',
 'area_code_701',
 'area_code_704',
 'area_code_706',
 'area_code_714',
 'area_code_735',
 'area_code_743',
 'area_code_746',
 'area_code_748',
 'area_code_752',
 'area_code_776',
 'area_code_784',
 'area_code_786',
 'area_code_794',
 'area_code_815',
 'area_code_816',
 'area_code_838',
 'area_code_843',
 'area_code_848',
 'area_code_849',
 'area_code_854',
 'area_code_858',
 'area_code_867',
 'area_code_872',
 'area_code_881',
 'area_code_901',
 'area_code_903',
 'area_code_952',
 'building_type_Flat',
 'building_type_House',
 'building_type_Multiple dwellings',
 'building_type_Non-residential',
 'building_use_type_code_1.0',
 'building_use_type_code_2.0',
 'building_use_type_code_5.0',
 'heating_type_0.0',
 'heating_type_1.0',
 'lower_floor_adjacency_type_ADJACENT BUILDING',
 'lower_floor_adjacency_type_BURIED_WALL',
 'lower_floor_adjacency_type_FULL_EARTH',
 'lower_floor_adjacency_type_LNC',
 'lower_floor_adjacency_type_OUTSIDE',
 'lower_floor_adjacency_type_SANITARY_VACTILE',
 'lower_floor_adjacency_type_nan',
 'lower_floor_insulation_type_external',
 'lower_floor_insulation_type_external+internal',
 'lower_floor_insulation_type_insulated',
 'lower_floor_insulation_type_internal',
 'lower_floor_insulation_type_uninsulated',
 'lower_floor_insulation_type_nan',
 'main_heating_device_boil',
 'main_heating_device_joule',
 'main_heating_device_other',
 'main_heating_device_pump',
 'main_heating_device_radia',
 'main_heating_device_stove',
 'main_heating_fuel_coal',
 'main_heating_fuel_gas',
 'main_heating_fuel_oil',
 'main_heating_fuel_other',
 'main_heating_fuel_solar',
 'main_heating_fuel_wood',
 'main_water_heaters_LPG/butane/propane condensing boiler',
 'main_water_heaters_LPG/butane/propane low temperature boiler',
 'main_water_heaters_electric boiler',
 'main_water_heaters_electric water heater with Joule effect',
 'main_water_heaters_gas condensing boiler',
 'main_water_heaters_heat network',
 'main_water_heaters_independent gas water heater',
 'main_water_heaters_indeterminate independent water heater',
 'main_water_heaters_indeterminate low temperature energy boiler',
 'main_water_heaters_low temperature gas boiler',
 'main_water_heaters_low temperature oil boiler',
 'main_water_heaters_oil condensing boiler',
 'main_water_heaters_solar water heater',
 'main_water_heaters_standard LPG/butane/propane boiler',
 'main_water_heaters_standard gas boiler',
 'main_water_heaters_standard indeterminate energy boiler',
 'main_water_heaters_standard oil boiler',
 'main_water_heaters_thermodynamic electric hot water (heat pump or tank)',
 'main_water_heaters_wood boiler',
 'radon_risk_level_0',
 'radon_risk_level_1',
 'radon_risk_level_2',
 'roof_material_CONCRETE',
 'roof_material_OTHERS',
 'roof_material_SLATE',
 'roof_material_TILES',
 'roof_material_ZINC',
 'thermal_inertia_0',
 'thermal_inertia_1',
 'thermal_inertia_2',
 'thermal_inertia_3',
 'ventilation_type_0',
 'ventilation_type_1',
 'ventilation_type_2',
 'ventilation_type_3',
 'ventilation_type_4',
 'ventilation_type_5',
 'ventilation_type_6',
 'ventilation_type_7',
 'water_heating_type_0.0',
 'water_heating_type_1.0',
 'window_filling_type_0',
 'window_filling_type_1',
 'window_filling_type_2',
 'window_frame_material_-1',
 'window_frame_material_1',
 'window_frame_material_2',
 'window_frame_material_4',
 'window_glazing_type_0',
 'window_glazing_type_1',
 'window_glazing_type_2',
 'altitude',
 'building_height_ft',
 'building_total_area_sqft',
 'living_area_sqft',
 'living_to_building_area_ratio',
 'lowe_floor_thermal_conductivity',
 'outer_wall_thermal_conductivity',
 'percentage_glazed_surfaced',
 'upper_floor_thermal_conductivity',
 'wall_area_by_conductivity',
 'window_heat_retention_factor',
 'window_thermal_conductivity',
 'nb_commercial_units',
 'nb_dwellings',
 'nb_housing_units',
 'nb_meters',
 'nb_units_total',
 'add_heat_generators_boiler',
 'add_heat_generators_heat_pump',
 'add_heat_generators_stove',
 'balcony_depth',
 'bearing_wall_agglomerate',
 'bearing_wall_bricks',
 'bearing_wall_chipboard',
 'bearing_wall_concrete',
 'bearing_wall_gritstone',
 'bearing_wall_indetermined',
 'bearing_wall_millstone',
 'bearing_wall_other',
 'bearing_wall_stone',
 'bearing_wall_wood',
 'building_category_condo',
 'building_category_house',
 'building_class_12_plus',
 'building_class_2_to_11',
 'building_class_indiv',
 'building_year',
 'clay_risk_level',
 'consumption_measurement_date',
 'has_air_conditioning',
 'heat_generators_boiler',
 'heat_generators_electric',
 'heat_generators_heat_pump',
 'heat_generators_solar',
 'heat_generators_stove',
 'heating_source_coal',
 'heating_source_electricity',
 'heating_source_gas',
 'heating_source_network',
 'heating_source_oil',
 'heating_source_wood',
 'is_crossing_building',
 'lower_floor_material_brick',
 'lower_floor_material_concrete',
 'lower_floor_material_joist',
 'lower_floor_material_metal',
 'lower_floor_material_wood',
 'lower_year_building',
 'nb_parking_spaces',
 'number_of_fronts',
 'outer_wall_hollow',
 'outer_wall_thickness',
 'renewable_energy_sources',
 'solar_heating',
 'solar_water_heating',
 'upper_floor_LNC',
 'upper_year_building',
 'wall_insulation_external',
 'wall_insulation_insulated',
 'wall_insulation_internal',
 'wall_insulation_mob',
 'wall_insulation_reflection',
 'water_heater_boiler',
 'water_heater_heater',
 'water_heater_tank',
 'water_heating_coal',
 'water_heating_electricity',
 'water_heating_gas',
 'water_heating_network',
 'water_heating_oil',
 'water_heating_wood',
 'window_orientation_east',
 'window_orientation_north',
 'window_orientation_south',
 'window_orientation_west']

In [8]:
if SMALL_DATASET:
    np.save("datasets/train/X_small.npy", X_train)
else:
    np.save("datasets/train/X_big.npy", X_train)

# X_test

In [9]:
print(X_test.shape)

X_test = feature_extractor.transform(X_test)

print(X_test.shape)

X_test = data_preprocessor.transform(X_test)

print(X_test.shape)

(4949, 71)
(4949, 118)
(4949, 263)

In [10]:
if SMALL_DATASET:
    np.save("datasets/test/X_test_small.npy", X_test)
else:
    np.save("datasets/test/X_test_big.npy", X_test)

In [11]:
X_train.isna().sum()[X_train.isna().sum() > 0]

Series([], dtype: int64)

In [12]:
X_test.isna().sum()[X_test.isna().sum() > 0]

Series([], dtype: int64)

In [13]:
# for j in range(X_train.shape[1]):
#     for i in range(X_train.shape[0]):
#         if type(X_train.iloc[i, j]) == str:
#             print(X_train.iloc[i, j])